.btn {
  text-align: center;
  font-size: 16px;
  width: 14em;
  border: none;
  border-radius: 40px;
  padding: 1em 0;
  color: white;
  background: linear-gradient(#ff79da, #9356DC);
  box-shadow: 0 0 16px grey;
  margin: 1em auto 0 auto;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Shrikhand", cursive;
  font-size: 24px;
  color: black;
  text-decoration: none;
  text-align: center;
}
header h1 {
  margin: 0.1em auto;
}
header a {
  text-decoration: none;
  color: #353535;
  position: absolute;
  left: 5%;
}

footer {
  background-color: #353535;
  text-decoration: none;
  color: white;
  font-weight: 400;
}
footer a {
  text-decoration: none;
  color: white;
}
footer h3 {
  margin: 0;
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  font-weight: 100;
  padding: 0.7em 0.9em;
}
footer i {
  width: 1em;
  margin-right: 0.7em;
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 0.5em 0.9em;
}
footer ul li {
  margin: 0.7em 0;
}

.restaurants a {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 8px #cacaca;
  margin: 1em auto 0 auto;
  text-decoration: none;
  color: black;
}
.restaurants__card-img {
  position: relative;
  text-align: center;
}
.restaurants__card-new {
  position: absolute;
  top: 7%;
  right: 5%;
  background-color: #99e2d0;
  padding: 0.4em 1.2em;
  color: #278870;
  font-weight: 500;
}
.restaurants img {
  width: 100%;
  height: 45vw;
  object-fit: cover;
  object-position: 50% 60%;
  border-radius: 20px 20px 0 0;
}
.restaurants__block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1em 0 1.7em 0;
}
.restaurants__block-info h3, .restaurants__block-info p {
  margin: 0 0 0.2em -25px;
}
.restaurants__block-info h3 {
  font-size: 20px;
}
.restaurants__block-info p {
  font-size: 18px;
  font-weight: 300;
  color: #4c4c4c;
}
.restaurants i {
  font-size: 28px;
  color: #4c4c4c;
}

main {
  font-family: "Roboto", sans-serif;
}
main .menu-img {
  width: 100%;
  line-height: 3em;
  position: relative;
  z-index: -1;
}

.menu {
  z-index: 1;
  margin-top: -3em;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 45px 45px 0 0;
  padding-bottom: 4em;
}
.menu__titre {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 24px;
  padding: 0.5em 1em;
}
.menu__titre h2 {
  margin: 0;
  padding: 0.5em 0;
  font-family: "Shrikhand", cursive;
}
.menu__container {
  margin-bottom: 3em;
}
.menu h4 {
  color: #7b7b7b;
  font-weight: 400;
  margin: 0.5em auto;
  padding-left: 1.5em;
}
.menu .sidebar {
  height: 0.2em;
  width: 2.5em;
  background-color: #99e2d0;
  margin-left: 1.5em;
}
.menu .plat {
  position: relative;
  width: 95%;
  height: 5em;
  margin: 1em auto 1em auto;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 1px 1px 8px #c2c2c2;
}
.menu .plat__info {
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu .plat h5, .menu .plat p {
  margin: 0.4em auto;
  text-overflow: ellipsis;
}
.menu .plat h5 {
  font-size: 20px;
}
.menu .plat__check {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0px 0 0 0;
  font-family: "Roboto", sans-serif;
}

.local {
  color: #404040;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  width: auto;
  padding: 10px 0 10px 0;
  gap: 5%;
  position: relative;
  box-shadow: 0 0.2em 0.5em grey inset;
}
.local__city {
  width: 8rem;
  border: none;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.local__city :active {
  background-color: transparent;
}

.description__box {
  background-color: #f6f6f6;
  padding-bottom: 40px;
}
.description__box h2 {
  font-size: 24px;
  text-align: center;
  padding: 60px 20% 10px 20%;
  margin: 0;
}
.description__box p {
  font-size: 18px;
  color: #7d7d7d;
  text-align: center;
  padding: 10px 10% 10px 10%;
}

h2 {
  margin-left: 0.8em;
  padding-top: 1em;
}

.process__etape {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  border: none;
  border-radius: 20px;
  margin: 1em auto;
  position: relative;
  padding: 1em 0;
  z-index: 1;
  cursor: pointer;
  box-shadow: 0px 5px 8px #e2e2e2;
}
.process__etape span {
  width: 1.7em;
  height: 1.7em;
  font-size: 0.8em;
  text-align: center;
  color: white;
  background-color: #9356DC;
  padding: 0.3em;
  border-radius: 50%;
  position: absolute;
  left: -0.9em;
}
.process__etape i {
  color: #7d7d7d;
  font-size: 22px;
}
.process__etape p {
  font-weight: 500;
}

#restaurants {
  background-color: #dddddd;
  padding-bottom: 4em;
  padding-top: 1em;
}

/*# sourceMappingURL=style.css.map */
