// Apparition des menus  
@keyframes apparition {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


// Slide Case Check 
@keyframes slide{
    0%{
        transform: translateX(0);
        display: contents;
    }
    100%{
        transform: translateX(-5em);
        display: contents;
    }
}

@keyframes check-rotation{
    0%{
        transform: rotate(0deg);
        margin: 0;
    }
    20%{
        transform: rotate(0deg);
    }
    100%{
        margin: 0 2rem;
        transform: rotate(360deg);
    }
}